body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    
}

a:-webkit-any-link {
    color: #ffc72b;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bolder;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #555;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.light-mode {
    background-color: #f0f0f0;
    color: #333;
}

.theme-wrapper {
    display: flex;
    height: 100vh;
    position: absolute;
    left: 10px;
    top: 10px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 80px;
}

.theme-switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffff;
    transition: 0.4s;
    border-radius: 44px;
    width: 80px;
    height: 44px;
}

.slider:hover {
    box-shadow: 0 0 20px rgb(214, 252, 0);
}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: #ffc72b;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ffff;
}

input:checked + .slider:hover {
    box-shadow: 0 0 20px rgb(214, 252, 0);
}

input:checked + .slider:before {
    transform: translateX(36px);
}
